In [6]:
import csv
import sqlite3
import numpy as np
import os
import pandas as pd

# Families and the titanic
## Questions to investigate:

    How did family size effect the survival rate? 
    How did women and orphans fare?
    Were upper class families more likely to survive?

## Loading the Data

In [26]:
cwd = os.getcwd()
data_set = os.path.join(cwd,"titanic.csv")
df = pd.read_csv(data_set)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [51]:
#Create Family size feature
df['family_size']= df['SibSp'] + df['Parch']
sex_dummies = pd.get_dummies(df['Sex'])
pd.concat([df,sex_dummies], axis=1)
sex_dummies

     female  male
0       0.0   1.0
1       1.0   0.0
2       1.0   0.0
3       1.0   0.0
4       0.0   1.0
5       0.0   1.0
6       0.0   1.0
7       0.0   1.0
8       1.0   0.0
9       1.0   0.0
10      1.0   0.0
11      1.0   0.0
12      0.0   1.0
13      0.0   1.0
14      1.0   0.0
15      1.0   0.0
16      0.0   1.0
17      0.0   1.0
18      1.0   0.0
19      1.0   0.0
20      0.0   1.0
21      0.0   1.0
22      1.0   0.0
23      0.0   1.0
24      1.0   0.0
25      1.0   0.0
26      0.0   1.0
27      0.0   1.0
28      1.0   0.0
29      0.0   1.0
..      ...   ...
861     0.0   1.0
862     1.0   0.0
863     1.0   0.0
864     0.0   1.0
865     1.0   0.0
866     1.0   0.0
867     0.0   1.0
868     0.0   1.0
869     0.0   1.0
870     0.0   1.0
871     1.0   0.0
872     0.0   1.0
873     0.0   1.0
874     1.0   0.0
875     1.0   0.0
876     0.0   1.0
877     0.0   1.0
878     0.0   1.0
879     1.0   0.0
880     1.0   0.0
881     0.0   1.0
882     1.0   0.0
883     0.0   1.0
884     0.0   1.0
885     1.0   0.0
886     0.0   1.0
887     1.0   0.0
888     1.0   0.0
889     0.0   1.0
890     0.0   1.0

[891 rows x 2 columns]